
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: crimson;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    border: 2px black solid;
}
